<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<img src="/images/site/checkerboard.jpg" alt="" class="back-img">
<section class="hero">
    <div class="hero-info">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders <br> Superman doors <br>
            Fuzzy dice!</p>
        <a href="#" class="hero-button">Own Today</a>
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="deloran" id="hero-img">
</section>
<section class="main">
    <div class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul class="review-content">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades">
        <h3>Delorean Upgrades</h3>
        <ul class="upgrades-cards">
            <li class="flux">
                <img src="/images/upgrades/flux-cap.png" alt="flux-cap-img">
                <a href="#">Flux Capacitor</a>
            </li>
            <li class="flame">
                <img src="/images/upgrades/flame.jpg" alt="flame-img">
                <a href="#">Flame Decals</a>
            </li>
            <li class="bumper">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker-img">
                <a href="#">Bumper Strickers</a>
            </li>
            <li class="hub">
                <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap-img">
                <a href="#">Hub Caps</a>
            </li>
        </ul>
    </div>
</section>